.portfolio {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    @include position ();
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.portfolio__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
  @media screen and (max-width: 767px) {
    &:not(:nth-last-child(-n+2)) {
      margin-bottom: 15px;
  }
  }
}
.portfolio__btn {
  padding: 6px 22px;
  min-height: 38px;
  min-width: fit-content;
  border-radius: 4px;
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--header-color);
  background-color: var(--portfolio-btn-color);
  cursor: pointer;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--third-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
  }

}