.team {
  background-color: var(--portfolio-btn-color);
}
.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.team__item {
  width: 450px;
  height: 622px;
  background-color: var(--third-text-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 536px;
    flex-basis: calc((100% - 2 * 30px) / 2);

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
    &:nth-child(odd) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 428px;
    flex-basis: calc((100% - 4 * 30px) / 4);

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 0px;
    }
    &:not(:nth-child(4n)) {
      margin-right: 30px;
    }
  }
}

.team__item-description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--header-color);
}
.team__text {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  color: var(--second-text-color);
  margin-bottom: 16px;
}
