.works {
  padding-top: 0px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.works__list {
  display: flex;
  flex-wrap: wrap;
}
.works__item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.works__card {
  width: 370px;
  position: relative;
  content: "";
  background-color: rgba(47, 48, 58, 0.8);
  display: block;
}
.works__list-title {
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--third-text-color);
  position: absolute;
  top: 224px;
}
