.social {
  display: flex;
  justify-content: center;
}
.social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social__item {
&:last-child {
  margin-right: 0;
}

}
.social__icon {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}
.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--third-text-color);
}
.social__link {
  @include position ();
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
