:root {
    --primary-title-color: #212121;
    --second-text-color: #757575;
    --third-text-color: #ffffff;
    --accent-color: #2196f3;
    --portfolio-btn-color: #f5f4fa;
    --address-hover-color: #188ce8;
    --item-border: #eeeeee;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  